body {
  display: flex;
  justify-content: center;
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 10vh 0;
  background: #121212;
  color: #fff;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 10px;

  padding-left: 0;
  list-style-type: none;
  transition: all 0.5s ease-in-out;
}

li {
  animation: slide-up 0.4s ease;

  justify-self: center;

  &:nth-child(1) {
    grid-column: span 2;

    justify-self: unset;
  }

  &:last-of-type {
    p {
      border: 1px solid #9a99ff !important;
      color: #9a99ff !important;
    }
  }
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.game-info {
  margin-left: 20px;

  p {
    font-size: 1.3em;
    width: 7em;
  }

  @media screen and (max-width: 500px) {
    margin-left: 0;
  }
}

button {
  background-color: transparent;
  color: #ffff;
  padding: 8px;
  border: 1px solid #fff;
  cursor: pointer;

  width: 100%;

  &:active {
    background: #9897cf;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
