.square {
  $size: 10vw;
  $bg-color: #171717;
  $border-color: rgb(255, 255, 255);

  @media screen and (max-width: 500px) {
    height: 20vw;
    width: 20vw;
  }

  height: $size;
  width: $size;
  float: left;

  margin-right: -1px;
  margin-top: -1px;
  padding: 0;

  line-height: 34px;
  font-weight: bold;
  text-align: center;
  font-size: clamp(1em, 5vh, 3em);

  color: #fff;
  background: $bg-color;
  border: 1px solid $border-color;

  transition: all 0.4s ease-in;

  &:focus {
    outline: none;
    background: #9897cfc9;
  }
}
